.product-wrapper {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .description {
    display: flex;
    flex-direction: column;
    gap: 15px;

    margin: 20px 0 0 20px;

    font-size: 14px;
  }

  p {
    color: var(--grey);
  }

  span {
    font-weight: 700;
    font-family: "Montserrat";
  }
  &:hover {
    filter: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.1));
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}
