:root {
  --light-gray: #fafafa;
  --dark-gray: #333333;
  --gray: #777777;

  --page-width: 80%;
  --max-width: 1600px;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a {
  color: var(--dark-gray);
}

body {
  overflow-x: hidden;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  all: unset;
  cursor: pointer;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

.center {
  top: 50%;
}
