:root {
  --light-gray: #fafafa;
  --dark-gray: #333333;
  --gray: #777777;

  --page-width: 80%;
  --max-width: 1600px;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a {
  color: var(--dark-gray);
}

body {
  overflow-x: hidden;
}
#root {
  display: flex;
  justify-content: center;
}

.App {
  padding-top: 50px;

  max-width: var(--max-width);
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  all: unset;
  cursor: pointer;
}

.left {
  position: absolute;
  left: 0;
}

.right {
  position: absolute;
  right: 0;
}

.center {
  top: 50%;
}

.custom-button {
  background-color: var(--dark-gray);
  padding: 5px;

  cursor: pointer;

  button {
    all: unset;

    padding: 15px 55px;
    border: 0.5px solid #ffffff;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));

    color: #fff;
  }
}
