.container {
  justify-content: space-between;

  .selected {
    width: 50px;
    margin: 1px;

    border: 1px solid var(--grey);
  }

  .title-bar-wrapper {
    background-color: var(--dark-grey);
    padding: 60px 0;
    margin-bottom: 55px;

    p {
      font-size: 14px;
      color: #eeeeee;
    }
  }

  main {
    width: var(--page-width);

    .related-products {
      margin-bottom: 100px;

      h1 {
        text-align: center;
        margin-bottom: 50px;
      }
    }
  }
}
