header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .phone {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .logo {
    font-family: "Cantata One";
    font-size: 24px;
  }

  .bag {
    display: flex;
    gap: 15px;

    span {
      opacity: 0.5;
    }
  }
}

> * {
  width: var(--page-width);
  max-width: var(--max-width);
}
