footer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  font-weight: 500;
  background-color: var(--light-grey);

  > * {
    width: var(--page-width);
    max-width: var(--max-width);
  }
}
