footer {
  .top {
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

    .widget {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    .signup-news {
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: end;

      min-width: 500px;

      .buton-input {
        position: relative;
        display: flex;
        justify-content: flex-end;

        input {
          width: 70%;
          height: 50px;

          font-size: large;
          outline: none;

          border: 0.5px solid var(--grey);
          padding-left: 10px;
        }
        button {
          all: unset;
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 2;
          border: none;
          height: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
