.slider-wrapper {
  height: 680px;
  width: 100%;
  margin-top: 60px;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }

  .slider-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: var(--page-width);
    height: 100%;

    position: absolute;
    top: 0;

    h1 {
      font-size: 60px;
      font-weight: 600;
      font-family: "Montserrat";
      line-height: 72px;
    }

    p {
      margin-top: 55px;

      font-size: 22px;
      font-weight: 400;
      font-family: "Montserrat";
      line-height: 36px;
      color: var(--grey);
    }
    .custom-button {
      margin-top: 115px;
    }
  }

  .arrow {
    width: 50px;
    height: 50px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
    color: var(--grey);

    cursor: pointer;
  }
}
